     
    <!-- Search Form-->
    <h1 class="head">Todo Ap Task</h1>
   <mat-card>
        <form>
            <mat-form-field>
                <mat-label>
                    Search
                </mat-label>
                <input matInput type="text"   placeholder="Search for tasks" />
        </mat-form-field>
        </form>
    </mat-card>
        <!-- End Search Form-->
   <!-- Create Task-->
    <mat-card>
            
     <form [formGroup] ="taskForm" (ngSubmit)="createTask()">
        <button style=" float: right;" mat-raised-button type="submit" color="primary" [disabled]="!taskForm.valid">
            Add Task
        </button>
        
         <mat-form-field>
             <mat-label>Task Tile</mat-label>
             <input type="text" matInput placeholder="Task Title" required formControlName="title" maxlength="100" />
         </mat-form-field>
        <mat-form-field>
            <mat-label>Task Description</mat-label>
            <input type="text" matInput placeholder="Task Description" required required formControlName="description" maxlength="100" />
        </mat-form-field>
     </form>
    </mat-card> <!-- End of Create Task-->
   
 <mat-card>
    <mat-list> 
       
<table class="table"  mat-table [dataSource]="tasks" class="mat-elevation-z8">
    <ng-container matColumnDef="No">
        <th class="header" mat-header-cell *matHeaderCellDef> No.</th>

        <td class="data" mat-line mat-cell *matCellDef="let task"> {{task.id}} </td>
    </ng-container>
    <!-- Name of TaskColumn -->
    <ng-container matColumnDef="Name">
        <th class="header" mat-header-cell *matHeaderCellDef> Name of Task</th>
        <td class="data" mat-line mat-cell *matCellDef="let task"> {{task.title}} </td>
    </ng-container>

    <!-- Description Column -->
    <ng-container matColumnDef="Description">
        <th class="header" mat-header-cell *matHeaderCellDef> Description </th>
        <td class="data" mat-line mat-cell *matCellDef="let task"> {{task.description}} </td>
    </ng-container>

    <!-- Actions  Column -->
    <ng-container matColumnDef="Actions">
        <th class="header" mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let task">
            <mat-icon  style="color:blue"(click)="editTask(task)">edit</mat-icon></td> 
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> 
</table>
 <!-- <div class="pagination">
<mat-paginator [length]="tasks.length"
[pageSize]="5"
[pageSizeOptions] ="[5, 10, 25]">
</mat-paginator>
</div> -->
</mat-list>
</mat-card>

<!-- Task list-->

<!-- <mat-card>
     <mat-list>
         <mat-list-item *ngFor="let task of tasks">
             <mat-icon mat-list mat-list-icon>Task</mat-icon>
             <div mat-line>{{task.title}}</div>
             <div mat-line>{{task.description}}</div>
             <mat-icon (click)="editTask(task)">edit</mat-icon>
            <mat-icon (click)="deleteTask(task)">delete</mat-icon>
         </mat-list-item>
     </mat-list>
</mat-card>  -->
<!-- End of task list-->