mat-card{
    display: flex;
    width: 50%;
    margin: 50px auto;
}

mat-card mat-list{
    width: 100%;
    cursor: pointer;
}

mat-card mat-list-icon{
    width: 100%;
    cursor: pointer;
}

form{
    width: 100%;
}
mat-form-field{
width: 100%;
}

.head{
text-align: center;
} 


table {
  width: 100%;
}

.form-input {
  box-shadow: 0 10px 40px 0 #c8d1dd;
}


