mat-card{
    display: flex;
    width: 50%;
    margin: 50px auto;
}

mat-card mat-list{
    width: 100%;
    cursor: pointer;
}

mat-card mat-list-icon{
    width: 100%;
    cursor: pointer;
}

form{
    width: 100%;
}
mat-form-field{
width: 100%;
}

.head{
text-align: center;
font-weight: bold;
} 


table {
  width: 100%;
}

.header{
  font-size: 16px;
}
.data{
  font-size: 16px; 
}




