     
    <!-- Search Form-->
    <h1 class="head">Todo App Task</h1>
   <mat-card>
        <form>
            <mat-form-field>
                <mat-label>
                    Search
                </mat-label>
                 <!-- Handle search of task on key press -->
                <!-- <input matInput type="text" (keyup)="applySearch(event)" placeholder="Search for tasks" /> -->
                <input matInput type="text" placeholder="Search for tasks" />
        </mat-form-field>
        </form>
    </mat-card>
        <!-- End Search Form-->

   <!-- Create Task Form-->
    <mat-card>
            
     <form [formGroup] ="taskForm" (ngSubmit)="createTask()">
        <button style=" float: right;" mat-raised-button type="submit" color="primary" [disabled]="!taskForm.valid">
            Add Task
        </button>
        
         <mat-form-field>
             <mat-label>Task Tile</mat-label>
             <input type="text" matInput placeholder="Task Title" required formControlName="title" maxlength="100" />
         </mat-form-field>
        <mat-form-field>
            <mat-label>Task Description</mat-label>
            <input type="text" matInput placeholder="Task Description" required required formControlName="description" maxlength="100" />
        </mat-form-field>
     </form>
    </mat-card> <!-- End of Create Task Form-->
   
    <!-- Table-->
 <mat-card>
    <mat-list> 
<table class="table"  mat-table [dataSource]="tasks" class="mat-elevation-z8">
    <ng-container matColumnDef="No">
        <th class="header" mat-header-cell *matHeaderCellDef> No.</th>

        <td class="data" mat-line mat-cell *matCellDef="let task"> {{task.id}} </td>
    </ng-container>
    <!-- Name of TaskColumn -->
    <ng-container matColumnDef="Name">
        <th class="header" mat-header-cell *matHeaderCellDef> Name of Task</th>
        <td class="data" mat-line mat-cell *matCellDef="let task"> {{task.title}} </td>
    </ng-container>

    <!-- Description Column -->
    <ng-container matColumnDef="Description">
        <th class="header" mat-header-cell *matHeaderCellDef> Description </th>
        <td class="data" mat-line mat-cell *matCellDef="let task"> {{task.description}} </td>
    </ng-container>

    <!-- Actions  Column -->
    <ng-container matColumnDef="Actions">
        <th class="header" mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let task">
            <mat-icon  style="color:blue"(click)="editTask(task)">edit</mat-icon>
              <!-- Code to handle deletion of task -->
            <!-- <mat-icon style="color:blue" (click)="deleteTask(task)">delete</mat-icon> -->
            </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> 
</table>
    <!-- End of Table-->
</mat-list>
</mat-card>

    <!-- Code to Implement Pagination -->
 <!-- <div class="pagination">
<mat-paginator [length]="tasks.length"
[pageSize]="5"
[pageSizeOptions] ="[5, 10, 25]">
</mat-paginator>
</div> -->