<!-- Task list-->
<mat-card>
    <!-- Start of Table-->
    
    <!-- End of Table-->


     <mat-list>
         <mat-list-item>
             <mat-icon mat-list mat-list-icon>Task</mat-icon>
             <div mat-line>Task Title 1</div>
             <div mat-line>Task Description 1</div>
             <mat-icon mat-list>edit</mat-icon>
            <mat-icon mat-list>delete</mat-icon>
         </mat-list-item>
        <mat-list-item>
            <mat-icon mat-list mat-list-icon>Task</mat-icon>
            <div mat-line>Task Title 2</div>
            <div mat-line>Task Description 2</div>
            <mat-icon mat-list>edit</mat-icon>
            <mat-icon mat-list>delete</mat-icon>
        </mat-list-item>
        <mat-list-item>
            <mat-icon mat-list mat-list-icon>Task</mat-icon>
            <div mat-line>Task Title 3</div>
            <div mat-line>Task Description 3</div>
            <mat-icon mat-list>edit</mat-icon>
            <mat-icon mat-list>delete</mat-icon>
        </mat-list-item>
     </mat-list>
</mat-card>
<!-- End of task list-->