<!-- Task list-->
<mat-card>
    <!-- Start of Table-->
    
    <!-- End of Table-->


     <mat-list>
         <mat-list-item *ngFor="let task of tasks">
             <mat-icon mat-list mat-list-icon>Task</mat-icon>
             <div mat-line>{{task.title}}</div>
             <div mat-line>{{task.description}}</div>
             <mat-icon (click)="editTask(task)">edit</mat-icon>
            <mat-icon >delete</mat-icon>
         </mat-list-item>
        
     </mat-list>
</mat-card>
<!-- End of task list-->