     
    <!-- Search Form-->
   <mat-card>
        <form>
            <mat-form-field>
                <mat-label>
                    Search
                </mat-label>
                <input matInput type="text"  placeholder="Search for tasks" />
        </mat-form-field>
        </form>
    </mat-card>
        <!-- End Search Form-->
   <!-- Create Task-->
    <mat-card>
            
     <form [formGroup] ="taskForm" (ngSubmit)="createTask()">
        <button style=" float: right;" mat-raised-button type="submit" color="primary" [disabled]="!taskForm.valid">
            Add Task
        </button>
        
         <mat-form-field>
             <mat-label>Task Tile</mat-label>
             <input type="text" matInput placeholder="Task Title" required formControlName="title" />
         </mat-form-field>
        <mat-form-field>
            <mat-label>Task Description</mat-label>
            <input type="text" matInput placeholder="Task Description" required required formControlName="description" />
        </mat-form-field>
        <!-- <button
         mat-raised-button
         type="submit"
         color="primary"
         [disabled] = "!taskForm.valid"
        >
         Add
        </button> -->
     </form>
    </mat-card> <!-- End of Create Task-->

    <!-- Task list-->
       
    <mat-card>
     <mat-list>
         <mat-list-item *ngFor="let task of tasks">
             <mat-icon mat-list mat-list-icon>Task</mat-icon>
             <div mat-line>{{task.title}}</div>
             <div mat-line>{{task.description}}</div>
             <mat-icon (click)="editTask(task)">edit</mat-icon>
            <mat-icon (click)="deleteTask(task)">delete</mat-icon>
         </mat-list-item>
     </mat-list>
</mat-card>
<!-- End of task list-->